body {
    padding: 0;
    margin: 0;
    color: black;
    background: linear-gradient(111.14deg, #000000 -29.74%, rgba(0, 0, 0, 0.85) 78.93%);
    flex-direction: column;
    display: flex;
}
h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
h6 {
    margin: 0;
    padding: 0;
    margin-top: 78px;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Montserrat';
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
#wrap {
    display: flex;
    flex-direction: column;
}
.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* I couldn`t fixed header by right method, so I`ve used this dirty */
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    background: #000000;
}
.header-content::after {
    content: '';
    display: block;
    bottom: -2px;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 2px solid rgba(240, 255, 64, 0.5);
}
.h-bg {
    background: linear-gradient(360deg, #0F0F0F 37.37%, #FFE600 322.89%);
    display: flex;
    margin: 25px 0;
    border-radius: 47px;
    width: 100%;
}
.details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 9999;
}
.details-logo {
    padding-right: 33px;
    margin: 57px 33px 57px 61px;
    border-right: 3px solid #000000;
    display: flex;
    align-items: center;
}
.details-owner {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 400;
}
.url {
    color: rgba(250, 255, 0, 0.7);
    font-weight: 600;
}
.photo-change {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.photo-list {
    margin-right: 55px;
}
.photo-list li a {
    width: 165px;
    height: 118px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
.card {
    width: 100%;
    height: auto;
}
.photo-list li.active a {
    box-shadow: 0 0 0 4px #F0FF40;;
}
.main-content {
    padding: 35px 156px;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
#media-viewer {
    display: inline-block;
    margin: 0 20px;
}
.main-content .main-bg {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px; 
    margin-top: 250px;
    /* And another bad trick */
    padding: 80px 80px;
}
.main-bg {
    background: #767676;
}
.card-bg {
    display: block;
    max-width: 100%;
    padding: 43px;
    background: white;
    color: black;
}
.card-bg img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.main-details {
    display: flex;
}
.info {
    display: block;
}
.date, .new {
    font-family: 'Niconne';
    font-size: 48px;
}
.describe {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Montserrat';
    line-height: 1.5;
}
.name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 190px;
    letter-spacing: -0.145em;
    margin-left: 412px;
}